.btn-orange, a.btn-orange{
  width: 154px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2px 18px;
  background: linear-gradient(93.7deg, #FC9102 -10.98%, #FFA32E 108.23%);
  box-shadow: 9px 8px 17px rgba(252, 144, 0, 0.45);
  border-radius: 5px;
  border: none;
  text-transform: uppercase;
  transition: all 0.5s linear;
  @include font400(14px,16px);
  color: #fff;
  text-decoration: none; 

  &:hover {
    background: linear-gradient(93.7deg, #dd7e03 -10.98%, #d88b27 108.23%);
    cursor: pointer;
    transition: all 0.5s linear;
    box-shadow: 9px 8px 17px rgba(235, 134, 2, 0.45);
  }
}

.btn-default, a.btn-default{
  width: auto;
  height: 40px;
  background: #fff;
  padding: 2px 18px;
  border: 1px solid #D9D9D9;
  border-radius: 5px;

  @include font400(14px,16px);
  color: #000;
  text-decoration: none; 
  display: flex;
  justify-content: center;
  align-items: center;

  &.active {
    background: linear-gradient(93.7deg, #FC9102 -10.98%, #FFA32E 108.23%);
    color: #fff;
    border: 1px solid #FC9102;
  }

  &:hover {
    background: linear-gradient(93.7deg, #FC9102 -10.98%, #FFA32E 108.23%);
    cursor: pointer;
    color: #fff;
    border: 1px solid #FC9102;
  }
}

.btn-green, a.btn-green{
  width: 200px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2px 18px;
  background: linear-gradient(93.7deg, #66A882 -10.98%, #488774 108.23%);
  border-radius: 5px;
  border: none;
  text-transform: uppercase;
  transition: all 0.5s linear;
  @include font400(14px,16px);
  color: #fff;
  text-decoration: none; 
  

  &:hover {
    background: linear-gradient(93.7deg, #dd7e03 -10.98%, #d88b27 108.23%);
    cursor: pointer;
    transition: all 0.5s linear;
    box-shadow: 9px 8px 17px rgba(235, 134, 2, 0.45);
  }
}
.btn-gray, a.btn-gray{
  width: 200px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2px 18px;
  background: linear-gradient(93.7deg, #B3B3B3 -10.98%, #8f8e8e 108.23%);
  //background: #B3B3B3;
  border-radius: 5px;
  border: none;
  text-transform: uppercase;
  transition: all 0.5s linear;
  @include font400(14px,16px);
  color: #fff;
  text-decoration: none; 
  

  &:hover {
    background: linear-gradient(93.7deg, #dd7e03 -10.98%, #d88b27 108.23%);
    cursor: pointer;
    transition: all 0.5s linear;
    box-shadow: 9px 8px 17px rgba(235, 134, 2, 0.45);
  }
}

.btn-mini, a.btn-mini {
  width: 142px;
  height: 38px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2px 18px;
  background: linear-gradient(93.7deg, #9001A0 -10.98%, #CB0FE0 108.23%);
  box-shadow: 0px 13px 43px rgba(144, 1, 160, 0.34);
  border-radius: 5px;
  @include font400(14px,16px);
  color: #fff;
  text-transform: uppercase;
  transition: all 0.5s linear;
  text-decoration: none;

  &:hover {
    background: linear-gradient(93.7deg, #6e037a -10.98%, #9b0aab 108.23%);
    cursor: pointer;
    transition: all 0.5s linear;
    box-shadow: 0px 13px 50px rgba(144, 1, 160, 0.54);
  }
}

