@mixin fontN($fz,$lh) {
  font-weight: normal;
  font-size: $fz;
  line-height: $lh;
}
@mixin font300($fz,$lh) {
  font-weight: 300;
  font-size: $fz;
  line-height: $lh;
}
@mixin font400($fz,$lh) {
  font-weight: 400;
  font-size: $fz;
  line-height: $lh;
}
@mixin font500($fz,$lh) {
  font-weight: 500;
  font-size: $fz;
  line-height: $lh;
}
@mixin fontB($fz,$lh) {
  font-weight: bold;
  font-size: $fz;
  line-height: $lh;
}
@mixin font600($fz,$lh) {
  font-weight: 600;
  font-size: $fz;
  line-height: $lh;
}
@mixin font700($fz,$lh) {
  font-weight: 700;
  font-size: $fz;
  line-height: $lh;
}
@mixin font800($fz,$lh) {
  font-weight: 800;
  font-size: $fz;
  line-height: $lh;
}




.flexA {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.flexB {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.flexC {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.flexK {
  display: flex;
  flex-direction: column;
  justify-content: start;
}



