@import "../styles/fonts.css"screen;
@import "../styles/default.css"screen;

:root {
    --green-text-color: #0F4D52;
}

@import "media-queries";
@import "mixin";
@import "button";


.HD1 {
  @include font800(48px, 58px);
  color: #fff;

  @include max-s(768px){
    @include font800(40px, 50px);
  }
}

.HD2 {
  @include font700(36px,43px);
  color: var(--green-text-color);
  text-align: center;

    @include max-s(768px){
      font-size: 25px; 
      line-height: 30px; 
    }
}

%HD2 {
@include font700(36px,43px);
color: var(--green-text-color);

  @include max-s(768px){
    font-size: 25px; 
    line-height: 30px; 
  }
}

.HD-page {
  @include font700(36px,43px);
  color: var(--green-text-color);
  text-align: left;
  margin-bottom: 40px;

    @include max-s(768px){
      font-size: 25px; 
      line-height: 30px;
      margin-bottom: 20px; 
    }
}

.bg-title {
  padding: 25px 0;
  position: relative;

  span {
    display: inline-block;
    padding: 25px 0;
    position: relative;

    &::after {
      content: ' ';
      display: block;
      background: url('../images/bg-title.png') center center no-repeat;
      width: 91px;
      height: 89px;
      position: absolute;
      left: 0;
      top: 0;
      z-index: -1;
      margin-left: -35px;
    }
  }
}

.message-error {
  background: #FF665C;
  border-radius: 5px;
  padding: 8px 12px;
  @include font400(14px,16px);
  color: #fff;

}


.Wrapper-main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100%;
}
.Main {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
  // flex: 1 0 auto;
  // height: 100%;
  // display: flex;
  // flex-direction: column;
  // justify-content: start;
}
.ContainerWrap {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.Logo {
a {
  display: block;
  @include font800(24px, 29px);
  color: #fff;
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }

  span {
    @include font500(14px, 17px);
    color: #fff;
    display: block;
  }
}
}

.Top {
  position: absolute;
  width: 100%;
  left: 0;
  right: 0;
  top: 0;
  z-index: 100;
  height: 70px;

 &.Bottom-bar {
    position: static;
    z-index: 9;
  }
  &.Top-bar {
    position: static;
  }
}

.Top-bar, .Bottom-bar {
  background: linear-gradient(93.7deg, #66A882 -10.98%, #488774 108.23%);
}

.Top__wrap {
  // display: flex;
  // flex-wrap: wrap;
  // justify-content: space-between;
  // align-items: flex-start;
  position: relative;
  height: 70px;
  align-items: center;
}

.Top-menu {
  flex: 1 1 auto;
  position: relative;

    @include max-s(992px){
      display: flex;
      flex-wrap: wrap;
      justify-content: end; 
    }
  
  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 0;
    align-items: center;

      @include max-s(992px){
        display: block;
        padding: 0 20px;
      }

    li {
      position: relative;
      margin-bottom: 0;

      &:not(:last-child) {
        margin-right: 4%;
      }

      a, span {
        display: block;
        @include font500(14px, 17px);
        color: #fff;
        text-decoration: none;
        padding: 10px 0;

          @include max-s(992px){
            color: var(--green-text-color);
          }
          a:hover {
        text-decoration: underline;
      }
      }
      a:hover {
        text-decoration: underline;
      }

      span:hover {
        cursor: pointer;
        text-decoration: underline;
      }

      &.parent {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;

          @include max-s(992px){
            display: block; 
          }

        a, span {
          padding-right: 10px;
        }

        &::after {
          content:' ';
          display:block;
          background: url('../images/down-arrow.svg') center top no-repeat;
          width: 11px;
          height: 7px; 
        }

        &:hover {
          ul {
            display: block;
            padding: 10px 15px;
            background: #FFFFFF;
            box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.09);
            border-radius: 5px;
            z-index: 9;

            @include max-s(992px)  {
              display: none;
              padding: 0px 20px;
              box-shadow:none;
            }
          }
        }
      }

      ul {
        position: absolute;
        top: 35px;
        left: 0;
        display: none;
        list-style: none;
        z-index: 9;
        width: 220px;

          @include max-s(992px)  {
            position: static;
            width: auto;
          }

        li {
          border: none;
          a {
            display: block;
            @include font400(14px,34px);
            color: #000;
            text-decoration: none;
            text-align: left;
            padding: 0;
   
            &:hover {
              text-decoration: underline;
              background: none;
            }
          }
        }
      }
    }
  }
}

.dropDownMenu {

  @include max-s(992px)  {
    //display: none;
    position: fixed;
    top: 0;
    left: -100%;
    height: 100%;
    background: #fff;
    box-shadow: 0 3px 7px #cec7c7;
    z-index: 100;
    transition: all 0.5s linear;
    width: 250px;
    z-index: 10;
    opacity: 0;
  }


  
  &.active {
    left:0px;
    //display: block;
    opacity: 1;
    transition: all 0.5s linear;


    .Smenu__close {
      display: block;
    }
  }
}

#hamburger {
  display: none;
  width: 30px;
  height: 22px;
  margin-top: 24px;
  margin-right: 25px;
  z-index: 15;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transition: all .3s linear;
  transition: all .3s linear;

    @include max-s(992px)  {
        display: block;
    }



  span {
    position: relative;
    top: 8px;
    display: block;
    width: 100%;
    height: 2px;
    background-color: #fff;
    -webkit-transition: all .3s linear;
    transition: all .3s linear;

    &:before {
      position: absolute;
      content: '';
      display: block;
      width: 100%;
      height: 2px;
      top: -7px;
      left: 0px;
      background-color: #fff;
      -webkit-transition: all .3s linear;
      transition: all .3s linear;
    }
    &:after {
      position: absolute;
      content: '';
      display: block;
      width: 100%;
      height: 2px;
      top: 7px;
      left: 0px;
      background-color: #fff;
      -webkit-transition: all .3s linear;
      transition: all .3s linear;
    }
  }
  &.active {
    top: -4px;
    -webkit-transform: translateY(-50%) rotate(-180deg);
    transform: translateY(-50%) rotate(-180deg);
    margin-top: 18px;

    span {
      background-color: transparent;
      &:before {
        top: 0;
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
      }
      &:after {
        top: 0;
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
      }

    }

  }
  &:hover {
    cursor: pointer;
  }
}

.Smenu__close {
  display: none;
  background: linear-gradient(93.7deg, #66A882 -10.98%, #488774 108.23%);
  height: 60px;
  padding: 20px;

  .wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    
    @include font400(18px, 20px);
    color: #fff;

    &:hover {
      cursor: pointer;
      // text-shadow: 0 0 9px #333;
      span {
        transform: rotate(135deg);
      }
    }

    span {
      font-family: tahoma;
      font-size: 30px;
      line-height: 14px;
      text-align: center;
      transform: rotate(45deg);
      transition: all .1s ease-in-out;
      margin-right: 10px;

    }
  }
}

.Top-info {
  flex: 0 1 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  @include max-s(650px)  {
    display: none;
  }

  .btn-mini {
    margin: 0 20px;
  }
  &.Top-info3 {
    display: block;
  }
}

.LogOut {
  //margin-top: 10px;
  a {
    @include font700(14px,17px);
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    margin-right: 20px;
      &:hover {
        text-decoration: underline;
      }
  }
}

.Flag {
  background: #FFFFFF;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.09);
  border-radius: 5px;
  padding: 2px 8px;
  position: relative;
  width: 80px; 

    &:hover {
      cursor: pointer;
    }
  
    &__select {
      &:hover {
        span {
          font-weight: 500;
        }
      }
    span {
      display: flex;
      flex-wrap: nowrap;
      justify-content: space-between;
      align-items: center;
      gap:10px;
      @include font400(14px,34px);
      color: #000;
      
      &::before {
        content: ' ';
        display: block;
        width: 20px;
        height: 20px;
      }
    }

    &.active { }

    .rus {
      &::before {
        background-image: url("../images/icon-flag-rus.svg");
      }
    }
    .eng {
      &::before {
        background-image: url("../images/icon-flag-eng.svg");
      }
    }
    .fra {
      &::before {
        background-image: url("../images/icon-flag-fra.svg");
      }
    }
    .ger {
      &::before {
        background-image: url("../images/icon-flag-ger.svg");
      }
    }
  }

  &__dropdown {
      display: none;
      border-top: 1px solid #999;
      position: absolute;
      background: #FFFFFF;
      box-shadow: 0px 5px 9px rgba(0, 0, 0, 0.09);

      border-radius: 0px 0 5px 5px;
      padding: 2px 8px;
      width: 80px;
      left: 0;
      top: 35px;
  }
  &__dropUp {
    position: absolute;
    bottom: 88%;
    background: #FFFFFF;
    box-shadow: 0px -11px 15px rgba(0, 0, 0, 0.09);
    padding: 2px 8px;
    width: 100%;
    box-sizing: border-box;
    left: 0;
    border-radius: 5px;
    border-top: unset;

    .Flag__select:last-child {
      border-bottom: 1px solid #999;
    }
  }
}

.Top-info2 {
  display: none;

  @include max-s(650px)  {
    display: block;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-top: 1px solid #999;
    padding: 20px 30px;
    align-items: center;
    // gap: 30px;
  }
  
  a.btn-mini {
    margin-bottom: 30px;
  }

  .LogOut {
    margin-bottom: 30px;
    
    a {
      color:#000;
      display: block;
      margin: 0 auto;
    }
  }
}


header {
  background: url('../images/bg-main1.jpg') center top no-repeat;
  width: 100%;
  height: 874px;
  position: relative;

    @include max-s(992px){
      height: auto;
    }

    @include max-s(768px){
      background: url('../images/bg-main1.jpg') -604px -76px no-repeat;
  width: 100%;
    }
}

.header {
  
    &__wrap {
      padding-top: 102px;
      flex-wrap: nowrap;

      @include max-s(768px){
        padding-top: 0px;
      }
      
    }

    &__img {
      flex: 0 0 616px;
      margin-left: 84px;

        @include max-s(1140px){
          margin-left: 0px;
        }
        @include max-s(992px){
          flex: 1 1 60%;
        }
        @include max-s(768px){
          display: none;
        }

      img {
        @include max-s(992px){
          position: absolute;
          bottom: 0;
          left: 0px;
          width: 53%;
          
        }
      }
    }

    &__text {
      flex: 0 1 360px;
      margin-top: 86px;
      margin-left: 15px;

        @include max-s(992px){
          padding-bottom: 110px; 
        }
        @include max-s(768px){
          flex: 0 1 100%;
        }

        .HD1 {
          margin-bottom: 20px;
        }
    }

    &__text-desc {
      @include font400(14px,18px);
      color: #fff;
      margin-bottom: 30px;
    }
}

.About {
  flex-wrap: nowrap;
  margin: -170px auto 80px;

  @include max-s(1024px){
    flex-wrap: wrap;
    justify-content: center;
  }
  @include max-s(992px){
    margin: -80px auto 80px;
  }

    &__item {
      position: relative;
      //flex: 0 0 390px;
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

        @include max-s(1024px){
          margin-bottom: 20px;
          padding-bottom: 20px;
        }
        

      &.plashka1 {
        width: 387px;
        height: 410px; 
        margin-left: -15px;

          @include max-s(1024px){
            height: 393px;
            margin-left: 0px; 
            order: 1;
          }
          @include max-s(440px){
            width: 100%;
            height: auto;
          }
          
          
        &::before {
          background: url('../images/plashka1.png') center top no-repeat;
          background: filter(url('../images/plashka1.png'), blur(5px));
          @include max-s(440px){
            background: rgba(238, 238, 238, 1);  
            border-radius: 10px ;
          }
        }
        
      }

      &.plashka2 {
        width: 389px;
        height: 447px;
        padding-bottom: 20px;
        margin: 50px -92px 0;

          @include max-s(1024px){
            margin: 0 0 20px;
            order: 2;
          }
          @include max-s(440px){
            width: 100%;
            height: auto;
          }

        &::before {
          background: url('../images/plashka2.png') center top no-repeat;
          @include max-s(440px){
            background: rgba(238, 238, 238, 1);  
            border-radius: 10px ;
          }
        }
        .About__text  {
          width: 250px;
          margin-right: auto;
          margin-left: auto;
          @include max-s(440px){
             width: 90%;
          }
        }
      }
      &.plashka3 {
        width: 387px;
        height: 410px;
        margin-right: -15px;

          @include max-s(1024px){
            height: 393px; 
            margin-right: 0px;
            order: 1;
          }
          @include max-s(440px){
            width: 100%;
            height: auto;
          }

        &::before {
          background: url('../images/plashka3.png') center top no-repeat;
          @include max-s(440px){
            background: rgba(238, 238, 238, 1);  
            border-radius: 10px ;
          }
        }
        
      }
      
      &.plashka1,
      &.plashka2,
      &.plashka3 {
        &::before {
          content: ' ';
          display: block;
          position: absolute;
          opacity: 0.85;
          top: 0;
          left: 0;
          bottom: 0;
          right: 0;
          z-index: 1; 
          //filter: blur(1px);
          @include max-s(768px){
            //opacity: 1; 
          }
          
        }
      }
    }

    &__img {
      text-align: center;
      position: relative;
      z-index: 2;
      margin-top: 35px;
      margin-bottom: 20px;
      @include max-s(1024px){
        margin-top: 20px;
      }
    }

    &__title {
      position: relative;
      z-index: 2;
      @include font700(22px,27px);
      color: var(--green-text-color);
      margin-bottom: 20px;
    }

    &__text {
      position: relative;
      z-index: 2;
      @include font400(14px,20px);
      color: #000;
      width: 250px;
      margin: 0 auto 20px;
      @include max-s(440px){
        width: 90%;
     }
    }

    a.btn-green {
      flex: 0 0 44px;
      position: relative;
      z-index: 2;
      margin: 0 auto;
    }
}

.Services {
  margin-bottom: 80px;

  .HD2 {
    margin-bottom: 40px;
  }

    &__wrap {
      margin: 0 -10px;
      @include max-s(576px)  {
        width: 100%;
        margin: 0 ;
     }
    }

    &__item {
      width: 30%;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin: 0 10px 60px;

      @include max-s(768px){
          width: 45%;
      }

      @include max-s(576px)  {
         width: 100%;
         margin: 0 0px 20px;
      }

    }

    &__img {
      flex:0 0 50px;
      margin-right: 18px; 
    }

    &__info {
      flex: 1 1;
    }

    &__title {
      @include font700(22px,27px);
      color: var(--green-text-color);
      margin-bottom: 20px;
    }

    &__text {
      @include font400(14px,19px);
      color: #000;
    } 
}

#block3 {
  background: url('../images/bg2.jpg') center top no-repeat;
  height: 653px;
  margin-bottom: 60px;
  
    @include max-s(768px){
      background: none; 
      height: auto;
    }
    @include max-s(440px){

      margin-bottom: 0px;
    }

}

.Price {
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
  

  @include max-s(768px){
    background: url('../images/bg-price.jpg') center 0px no-repeat; 
    padding-bottom: 75px;
  }

  &__wrap {
    width: 752px;
    text-align: center;

    .HD2 {
      margin-bottom: 70px;
    }
  }
  &__in {
    @include max-s(768px){
      flex-wrap: nowrap; 
    }
    @include max-s(440px){
      flex-wrap: wrap; 
    }
  }

  &__item {
    flex: 0 0 362px;
    background: rgba(255, 255, 255, 0.85);
    box-shadow: inset -18.7px 18.7px 18.7px rgba(255, 255, 255, 0.1);
    border-radius: 5px;
    padding: 68px 43px 43px;
    border: 1px solid #ebebeb;
    position: relative;

      @include max-s(992px){
        padding: 68px 20px 20px;
        flex: 0 0 48%;
      }
      @include max-s(768px){
        padding: 68px 10px 20px;
        flex: 0 0 47%;
      }
      @include max-s(440px){
        flex: 1 1 100%;
        margin-bottom: 20px;
      }
  }

  &__top {
    background: linear-gradient(93.7deg, #FCB602 -10.98%, #FF8A00 108.23%);
    border-radius: 0px 0px 15px 15px;
    @include font400(14px,16px);
    color: #fff;
    padding: 15px 10px;
    width: 140px;
    position: absolute;
    top: -1px;
    left: 0;
    right: 0;
    margin: 0 auto;

  }

  &__title {
    @include font500(24px,28px);
    color: var(--green-text-color);
    text-transform: uppercase;
    margin-bottom: 20px;

    @include max-s(768px){
      @include font500(20px,24px);
    }
  }

  &__cost {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 80px;
    
      @include max-s(768px){
        margin-bottom: 20px;
      }
  }
  &__cost-valuta {
    @include font800(36px,43px);
    color: var(--green-text-color);
  }

  &__cost-doll {
    @include font800(96px,69px);
    color: var(--green-text-color);
  }

  &__cost-cent {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
    @include font800(24px,28px);
    color: var(--green-text-color);
    

    span {}

  }

  &__text {
    margin-bottom: 35px;
    ul {
      list-style: disc;
      text-align: left;
      li {
        @include font400(14px,16px);
        color: #000;
      }
    }
  }
  &__btn {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

.Reviews {
  background: url('../images/bg3.png') left 60px no-repeat;
  padding-bottom: 50px;

    @include max-s(992px){
      background: url('../images/bg3.png') left 97px no-repeat;
    } 

  .bg-title {
    span {
      &::after {
        left: 50%;
      }
    }
  }

  &__slider {}

  &__item {
    background: #FFFFFF;
    box-shadow: 0px 4px 13px rgba(0, 0, 0, 0.07);
    border-radius: 5px;
    padding: 35px 60px 40px;
    position: relative;
    margin: 13px;

      @include max-s(992px){
        padding: 10px 20px 20px;
      }
      @include max-s(768px){
        margin: 13px 0 ;
      }
      .quote {
        background: url('../images/img-quit.png') center top no-repeat;
        width: 46px;
        height: 31px;
        position: absolute;
        top: -15px;
        right: 10%;
        }

  }

  &__item-top {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-bottom: 20px;

      @include max-s(380px){
        flex-wrap: wrap;
      }
  }

  &__img {
    flex: 0 0 150px;
    position: relative;
    margin-right: 20px;

      @include max-s(992px){
        flex: 0 0 100px;
      }
      @include max-s(380px){
        flex: 0 0 100%;
        text-align: center;
        margin-right: 0;
      }

    img {
      width: 150px;
      position: absolute;
      top: -55px;
      left: 0;
      border-radius: 50%;

        @include max-s(992px){
          top: -20px;
        }
        @include max-s(380px){
          position: static;
          width: 100px !important;
          margin: 0 auto;
        }
    }
  }

  &__info {
    flex: 1 1 auto;
    
  }

  &__title {
    @include font700(22px, 27px);
    color: var(--green-text-color);
    margin-bottom: 20px;

      @include max-s(992px){
        @include font700(20px, 25px);
      }
  }

  &__status {
    @include font400(14px, 18px);
    color: var(--green-text-color);
  }

  &__text {
    @include font400(14px,20px);
    color: #000;
  }
}

#block5 {
  background: url('../images/bg-main2.jpg') center top no-repeat;
  height: 555px; 
  margin-top: -160px;
  margin-bottom: 44px;

    @include max-s(768px){
      height: auto;
      background-size: cover;
      padding-bottom: 50px; 
    }

}

.AboutReg {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-top: 160px;


		&__title {
		  width: 30%;

        @include max-s(768px){
           width: 100%;
           text-align: center;
           margin-bottom: 20px;
        }

		  .hd {
		    @include font700(36px, 43px);
		    color: #fff;
        margin-bottom: 40px;

          @include max-s(768px) {
            @include font700(30px, 36px);
          }
		  }

      .btn-orange {
        margin: 0 auto;
      }
		}

		&__info {
      width: 60%;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

        @include max-s(768px) {
          width: 100%;
          
        }
      
    }

		&__item {
      width: 45%;
      margin-bottom: 60px;

      @include max-s(768px)  {
        width: 48%;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;        
        text-align: center;
         margin-bottom: 20px;
      }

      div {
        @include font800(64px,77px);
        color: #fff;

        @include max-s(768px)  {
          @include font800(55px,60px);
        }
        @include max-s(576px)  {
          @include font800(45px,55px);
        }
      }
      span {
        @include font500(24px,28px);
        color: #fff;

          @include max-s(768px)  {
            @include font500(20px,24px);
          }
      }
    }
}

.LastNews {
  padding-bottom: 50px;
  
  &_hd {
    @include font700(22px, 27px);
    color: var(--green-text-color);
    margin-bottom: 40px;

  }
  &__wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; 
    margin: 0 -10px;
    @include max-s(768px)  {
      margin: 0px;
    }
  }

  &__item {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 31%;
    margin: 0 10px 30px;

      @include max-s(992px)  {
        width: 45%;
      }
      @include max-s(768px)  {
        width: 100%;
        margin: 0 0px 30px;
      }
  }

  &__img {
    flex: 0 0 82px;
    margin-right: 20px;  

    @include max-s(768px){
      margin-right: 10px; 
    }    
  }

  &__info {
    flex: 1 1 ;
  }

  &__text {
    @include font400(16px,22px);
    color: #000;
    margin-bottom: 20px;

      @include max-s(768px){
        @include font400(14px,16px);
        margin-bottom: 10px;
      }
  }

  &__bottom {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; 
  }

  &__date {
    @include font400(12px,18px);
    color: rgba(0, 0, 0, 0.50);
  }
}

.more, a.more {
  @include font700(16px,18px);
  color: var(--green-text-color);
  padding-right: 20px;
  position: relative;
  text-decoration: none;

    @include max-s(768px){
      @include font700(14px,16px);
    }

  &:hover {
    text-decoration: underline;
  }

  &::after {
    content:'→';
    display:block;
    position: absolute;
    top: 0;
    right: 0;
    //→
  }
}


.Foot {

		&__wrap {
		  display: flex;
		  flex-wrap: wrap;
		  justify-content: space-between;
      align-items: center;
      padding: 50px 15px;

      @include max-s(992px){
        justify-content: center;}
		}

		&__socnet {

      @include max-s(992px) {
        order: 1;
        margin: 0 10px 20px;}

      img {
        margin:  0 2px;}
    }

		&__support {
      width: 520px;
		  border: 1px solid #EFEFEF;
		  box-sizing: border-box;
		  border-radius: 70px;
      display: flex;
      flex-wrap: nowrap;
      justify-content: space-between;
      align-items: center;
      padding: 15px;

        @include max-s(992px)  {
          order:2;}

        @include max-s(600px){
          flex-wrap: wrap;}

      .Phone {
        width: 50%;

        @include max-s(600px){
          width: 100%;
          text-align: center;
          margin-bottom: 20px;}

        a {
          @include font500(24px, 28px);
          color: #000;
          text-decoration: none;

          &:hover {
            text-decoration: underline;}
        }
      }
      .Suports {
        width: 40%;
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;

        @include max-s(600px){
          width: 100%;
          justify-content: center;
          margin: 0 auto;
        }

        img {
          flex: 0 0 40px;
          height: 40px;
          margin-right: 20px;
        }

        .text {
          @include font500(14px, 17px);
          color: #000;
        }
      }
      
    }

		&__pay {
      
      @include max-s(992px) {
        order: 1;
        margin: 0 10px 20px;
      }
    }
}

.Top-menu-foot {
  @include max-s(992px){
    display: none; 
  }
}

.Breadcrambs {
  padding-top: 60px;
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  margin-bottom: 20px;

    @include max-s(768px){
      padding-top: 20px;
    }

  a {
    @include font400(14px,18px);
    color: #000;
    padding-right: 20px;
    margin-right: 10px;
    text-decoration: none;
    position: relative;

      &:hover {
          text-decoration: underline;}

      &::after {
        content:'→';
        display:block;
        position: absolute;
        top: 0;
        right: 0;}
  }

  span {
    color: #C7C7C7;
  }
   
}

.MTranslate {
  box-shadow: 0px 14px 80px rgba(0, 0, 0, 0.1); 
  border-radius: 5px;
  margin-bottom: 80px;

  &__wrap {
    padding: 70px 115px;

    @include max-s(1024px){
      padding: 50px;
    }
    @include max-s(992px){
      padding: 25px;
    }
    @include max-s(768px){
      padding: 20px;
    }
  }
  &__wrap2 {
    position: relative;
  }
  &__fields {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    align-items: flex-start;
    margin-bottom: 55px;

      @include max-s(768px){
        margin-bottom: 30px;
      }
  }

  &__fields-item {
    width: 40%;

      @include max-s(768px){
        width: 100%; 
      }

      &:not(:last-child) {
        @include max-s(768px){
          margin-bottom: 10px; 
        }
      }
  }

  &__fields-hd {
    @include font700(22px,26px);
    color: var(--green-text-color);
    margin-bottom: 25px;

      @include max-s(768px){
        margin-bottom: 10px;
        @include font700(18px,22px);
      }
  }

  &__fields-row {
    background: url('../images/arrow.svg') center top no-repeat;
    width: 30px;
    height: 30px; 
    margin: 58px 25px 0;

    @include max-s(768px){
      display: none;
    }

  }
}

.Field {

  select, input {
    width: 100%;
    height: 50px;
    background: #FFFFFF;
    border: 1px solid #0F4D52;
    border-radius: 5px;
    @include font700(16px, 19px);
    color: #131313;
    padding: 0 20px;
  }

  select {
    appearance: none;
    background: url('../images/icon-select-arrow.svg') 95% 50% no-repeat;

    option {
      @include font700(16px, 25px);
      color: #131313;
      padding: 20px 0px;
    }
  }

  input {
    position: relative;

    &::placeholder {
      @include font400(16px, 19px);
      color: #131313;
    }

    &.icon-search {
        background: url('../images/icon-search.svg') 95% 50% no-repeat;
     }
  }
}

.TypeTranslate {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 55px;
  position: relative;

    @include max-s(768px){
      margin-bottom: 30px;
    }

  &__item {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: stretch;
    width: 32%;
    border: 1px solid #D3D3D3;
    border-radius: 5px;

    @include max-s(768px){
      width: 100%; 
    }
    &:not(:last-child) {
      @include max-s(768px){
        margin-bottom: 20px; 
      }
    }

    &.active, &:hover  {
      background: linear-gradient(93.7deg, #FC9102 -10.98%, #FFA32E 108.23%);
      box-shadow: 9px 8px 17px rgba(252, 144, 0, 0.45);
      border: 1px solid #FC9102;
      cursor: pointer;

      .TypeTranslate__tarif {
        background: #FE8900;
      }
      .TypeTranslate__text-title {
        color: #fff;
      }
      .TypeTranslate__text-category {
        color: #9C5900;
      }

    }

  }

  &__tarif {
    flex: 0 0 60px;
    background: #D3D3D3;
    padding: 5px;
    margin-right: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__tarif-price {
    @include font700(14px,17px);
    color: #fff;
  }

  &__tarif-row {
    background: #fff;
    height: 1px;
    width: 90%;
    margin: 3px 0;
  }

  &__tarif-text {
    @include font400(12px,14px);
    color: #fff;
  }

  &__text {
    flex: 1 1 auto;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__text-title {
    @include font700(16px,20px);
    color: #131313;

  }

  &__text-category {
    @include font400(12px,18px);
    color: #707070;
  }
}

.VidTranslate {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  margin-bottom: 15px;
  position: relative;

  .btn-default {
    @include max-s(768px){
      width: 100%; 
    }
  }

  .btn-default:not(:last-child) {
    margin-right: 20px;
      @include max-s(768px){
        margin-right: 0;
        margin-bottom: 10px;
      }
  }
}

.DownloadTrans {
  margin-bottom: 20px;
  position: relative;
  
  textarea {
    width: 100%;
    padding: 15px;
    border: 1px solid #0F4D52;
    border-radius: 5px;
    min-height: 470px;

      @include max-s(992px){ 
        min-height: 300px;
      }
      @include max-s(768px){
        min-height: 150px;
      }
  }



}

.InfoTrans {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  &__left {
    margin-right: 20px;
    margin-bottom: 20px;
  }

  &__summ {
    @include font700(22px,26px);
    color: var(--green-text-color);
    
    span {
      @include font400(12px,18px);
      color: #707070;
      display: block;
      padding-top: 10px;
    }
  }

  &__right {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;

      @include max-s(460px){
        width: 100%; 
        justify-content: center;
      }
  }

  &__balans {
    @include font400(14px,18px);
    color: #707070;
    margin-right: 40px;
    
      @include max-s(460px){
        width: 100%; 
        margin-bottom: 30px;
        margin-right: 0;
      }
  }

  &__btn {
    .btn-orange {
      width: auto;

        @include max-s(460px){
          width: 100%; 
        }
    }
  }
}

.ShadowWrap {
  position: absolute;
  background: #DADADA;
  opacity: 0.5;
  border-radius: 5px;
  top: -20px;
  right: -20px;
  bottom: -20px;
  left: -20px;
  z-index: 1;

    @include max-s(768px){
      top: -10px;
      right: -10px;
      bottom: -10px;
      left: -10px;
    }

}



.dropdown {
    width: 100%;
    border: 1px solid #0F4D52;
    border-radius: 5px;
    padding: 24px 24px 50px;

    @include max-s(576px)  {
      padding: 10px;
    }

  &__wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
  }

    @include max-s(992px){ 
      //height: 300px;
    }


  &__info {
    text-align: center;
  }

  &__icon {}

  &__desc {
    @include font700(22px,27px);
    color: var(--green-text-color);
    margin-bottom: 10px;
  }

  &__tipfiles {
    @include font400(18px,18px);
    color: #707070;
    margin-bottom: 40px;
    text-transform: uppercase;
  }

  .btn-green {
    margin: 0 auto;
  }
}

.dropfiles {
  $this:&;
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  width: 100%;
  margin-bottom: 20px;


  // &__wrap {
  //   display: flex;
  //   flex-wrap: wrap;
  //   justify-content: start;
  //   width: 100%;
  // }

  &__item {
    width: 165px;
    border: 1px solid #EFEFEF; 
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    position: relative;
    margin: 0 5px 20px;
    padding: 0 10px 20px;

    @include max-s(576px){
      width: 100%;
      // display: flex;
      // flex-direction: unset;
      // flex-wrap: nowrap;
      // justify-content: space-between;
      // align-items: center;
      padding: 5px;
    }
  }

  &__close {
    position: absolute;
    top: 10px;
    right: 10px;
    background: url('../images/icon-close.svg') center top no-repeat;
    width: 20px;
    height: 20px; 

    // @include max-s(576px){
    //   position: static; margin-left: 5px; 
    // }

    &:hover {
      cursor: pointer;
      opacity: 0.6;
    }
  }

  &__icon {
    
    margin-top: 40px;
    margin-bottom: 10px; 

    @include max-s(576px){
       margin-top: 0;
       margin-bottom: 0;
    }

    img {
      width: 80px;
      height: 80px;

      @include max-s(992px){
        width: 60px;
        height: 60px;
      }
      @include max-s(768px){
        flex: 0 0 40px;
        height: 40px;
      }
    }

    // &.pdf {background: url('../images/icon-file-pdf.svg') center top no-repeat;}
    // &.txt {background: url('../images/icon-file-txt.svg') center top no-repeat; }
    // &.doc {background: url('../images/icon-file-doc.svg') center top no-repeat; }
    // &.odt {background: url('../images/icon-file-odt.svg') center top no-repeat; }
  }

  @at-root
  &__name, a#{$this}__name {
    @include font400(12px,18px);
    color: #000;
    margin-bottom: 5px;
    text-align: center;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }

  &__filesize {
    @include font400(12px,18px);
    color: #707070;
  }
}


.DownloadAudio {

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
  margin-bottom: 40px;

  .dropdown {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 24px;

    @include max-s(992px){
      height: auto; 
    }
    @include max-s(768px){
      width: 100%; 
    }

  }

}

.AudioRec {
  width: 58%;
  border: 1px solid #0F4D52;
  border-radius: 5px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

    @include max-s(768px){
      width: 100%; 
      margin-bottom: 20px;
    }


  .hd {
    text-align: center;
    @include font700(22px,26px);
    color: var(--green-text-color);
    margin-bottom: 30px;
  }

  &__btn {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;


    .btn-pl  {
      width: auto; 
      height: 40px;
      margin: 0 5px 20px;
      font-weight: 700;
      text-transform: none;

      @include max-s(768px){
        width: 100%;
        
      }
      &:last-child {
        @include max-s(768px){
          width: 100%;
          margin-bottom: 0;
        }
      } 

      span {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        //padding-left: 30px;

        &::before {
          content:' ';
          margin-right: 10px;

        }
      }
    }

    .btn-gray {
      span {
        &::before {
          background: url('../images/icon-player-rec.svg') center top no-repeat;
          width: 14px;
          height: 18px;
        }
      }
    }

    .btn-orange {
      box-shadow: none;
      &:hover {
        box-shadow: 9px 8px 17px rgba(235, 134, 2, 0.45);
      }

      span {
        &::before {
          background: url('../images/icon-player-pause.svg') center top no-repeat;
          width: 10px;
          height: 12px;
        }
      }
     
    }

    .btn-green {
      span {
        &::before {
          background: url('../images/icon-player-stop.svg') center top no-repeat;
          width: 16px;
          height: 16px;
        }
      }
      
    }

  }
}

.OutputAudio {
  margin-bottom: 50px;

  &__item {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
    position: relative;
  }

  &__track {
    width: 60%;

      @include max-s(768px){
        width: 92%; 
      }

    audio {
      width: 100%;
    }
  }

  &__nametrack {
    flex:0 1 auto;
    @include font400(11px,34px);
    color: #000;
    text-align: center;
    margin: 0 10px;

  }

  &__close {
    flex:0 0 16px;
    background: url('../images/icon-close2.svg') center top no-repeat;
    width: 16px;
    height: 16px; 

      @include max-s(768px){
        position: absolute;
        top: 0px; 
        right: 0px;
      }

    &:hover {
      cursor: pointer;
      opacity: 0.6;
    }
  }
}


.UserInfo {
  margin-right: 20px;
  position: relative;

    @include max-s(650px){
      margin-right: 0;
    }
}

.IconProfile {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  &:hover {
    cursor: pointer;
  }

  .IconUser {
    margin-right: 10px;
   
  }

  &__arrow {
    background: url('../images/icon-user-panel.svg') center top no-repeat;
    width: 10px;
    height: 10px; 
  }
}

.IconUser {
  width: 38px;
  height: 38px;
  background: linear-gradient(93.7deg, #FC9102 -10.98%, #FFA32E 108.23%);
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @include font700(18px,22px);
  color: #fff;

  &:hover {
    background: #FE8900;
  }

}

.ProfPanel {
  display: none;
  position: absolute;
  top: 45px;
  right: 0;
  // opacity: 0;
  width: 260px;
  background: #FFFFFF;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.09);
  border-radius: 5px;
  padding: 10px;
  z-index: 1;

  &__user {
    display: flex;
    flex-wrap: nowrap;
    justify-content: start;
    align-items: center;
    padding-bottom: 10px;
    position: relative;

    &::after {
      content:' ';
      display:block;
      position: absolute;
      bottom: 0;
      left: 20px;
      background: #ccc;
      height: 1px;
      width: 38px;
    }

    .IconUser {
      flex: 0 0 38px;
      margin-left: 20px;
      margin-right: 10px;
    }
    
  }

  &__info {

    .email {
      @include font400(14px,18px);
      color: #000;
      word-break:break-all;
    }

    .name {
      @include font400(14px,18px);
      color: #D3D3D3;
    }
  }

  &__menu {
    ul {
      list-style: none;
      margin-left: 0;

      li {
        a {
          display: block;
          @include font400(14px,29px);
          color: #000;
          padding: 5px 20px;
          text-decoration: none;

          &:hover {
            background: #F9F9F9;
          }
        }
      }
    }
  }
}


.MyTranslate {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;

    @include max-s(768px){
      flex-wrap: wrap;
    }
}
.Orders {
  flex: 0 1 754px;
  margin-bottom: 80px;

  @include max-s(768px){
    flex: 1 1 100%;
    order:1;
  }

  .btn-orange {
    width: auto;
    margin-bottom: 35px;
  }
}

.Order {
  border: 1px solid #D3D3D3;
  border-radius: 5px;
  padding: 30px 40px 45px;
  margin-bottom: 30px;

  @include max-s(992px){
     padding: 20px;
  }

		&__top {
      margin-bottom: 30px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      position: relative;

        @include max-s(768px){
          margin-bottom: 20px;
        }
    }

		&__top-data {
      width: 57%;

        @include max-s(576px){
          width: 100%; 
          margin-bottom: 20px;
        }
    }

		&__number {
      @include font700(22px,27px);
      color: var(--green-text-color);
      margin-bottom: 10px;
    }

		&__date {
      @include font400(14px,18px);
      color: var(--green-text-color);
      margin-bottom: 20px;
    }

		&__language {
      @include font400(14px,20px);
      color: #000;
      display: flex;
      flex-wrap: wrap;
      justify-content: start;

      span {
        display: block;
        padding-right: 20px;
        margin-right: 10px;
        position: relative;

        &:first-child {
          &:after {
            content: '→';
            display: block;
            position: absolute;
            top: 0;
            right: 0;
          }
        }
      }
    }

		&__type {
      @include font400(14px,20px);
      color: #000;
    }

		&__top-info {
      width: 40%;
      border-left: 1px solid #D3D3D3;
      padding-left: 25px;
      
        @include max-s(992px){
          padding-left: 10px;
        }

        @include max-s(576px){
          width: 100%; 
          border:none;
          padding-left: 0px;
        }

      ul {
        list-style: disc;
        
        li {
          @include font700(14px,23px);
          color: var(--green-text-color);
        }
      }
    }

		&__mid {
      display: flex;
      flex-wrap: nowrap;
      justify-content: space-between;
      margin-bottom: 30px;

      @include max-s(992px){
        //align-items: center;
      }
      @include max-s(400px){
        flex-wrap: wrap;
      }
    }

    &__payInfo {
      width: 57%;
      display: flex;
      flex-wrap: nowrap;
      justify-content: start;
      align-items: center;

        @include max-s(992px){
          flex-wrap: wrap;
        }
        @include max-s(400px){
          width: 100%;
          order:1;
        }

      .btn-green {
        width: auto;

          @include max-s(992px){
            order: 1;
            width: 100%;
          }
      }


      a {
        @include font700(16px,18px);
        color: var(--green-text-color);
        margin-left: 30px;
        text-decoration: none;

          @include max-s(992px){
            order: 0;
            width: 100%;
            margin-left: 0;
            text-align: center;
            margin-bottom: 15px;
          }

        &:hover {
          text-decoration: underline;
        }
      }
    }

    &__vid {
      width: 40%;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;

        @include max-s(400px){
          width: 100%;
          order:0;
          margin-bottom: 15px;
        }
    }

		&__foot {
      .message-error {
        margin-top: 40px;
      }
      .dropfiles {
        border-top: 1px solid #D3D3D3;
        padding-top: 30px;
      }
    }

    &__audio {
      audio {
        width: 100%;
        &:not(:last-child) {
          margin-bottom: 10px;
        }
      }
    }

    &__text {
      border-top: 1px solid #D3D3D3;
      padding-top: 30px;
      

      p {
        @include font400(14px,19px);
        color: #000;
        padding: 0;
        
        &:not(:last-child) {
          padding-bottom: 15px;
        }
      }
    }
}


.Docfile {
  $this: &;
  display: flex;
  flex-wrap: nowrap;
  justify-content: start;
  margin-bottom: 10px;

  &__icon {
    flex: 0 0 20px;
    height: 20px; 
    margin-right: 10px;

    &.pdf {
      background: url('../images/icon-doc-pdf.svg') center top no-repeat;
    }
  }

  @at-root
  &__name, a#{$this}__name  {
    @include font400(12px,18px);
    color: #000;
    margin-right: 20px;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }


  &__size {
    @include font400(12px,18px);
    color: #707070;
  }
}

.Orders-sidbar {
  flex: 0 1 346px;
  margin-left: 20px;

    @include max-s(768px){
      flex: 1 1 100%;
      margin-left: 0;
      margin-bottom: 20px;
      order: 0;
    }

  .MyBlance {
    margin-bottom: 35px;
  }
}

.MyBlance {
  text-align: right;

  &__info {
    @include font400(24px,26px);
    color: var(--green-text-color);
    margin-bottom: 4px;
    
    span {
      font-weight: bold;
    }
  }

  &__cashIn {

    a {
      @include font700(16px,18px);
      color: var(--green-text-color);
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}


.Orders-filtr {
  &__bottom {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    a {
      @include font700(16px,18px);
      color: #D3D3D3;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
    .btn-green {
      width: auto;
    }
  } 
}

.Orders-fields {

  .Field {
    margin-bottom: 15px;
  }
}


.delete-order {
  
  @include max-s(576px) {
    position: absolute;
    top: 0px;
    right: 0px;
  }

  a {
    @include font700(16px,18px);
    color: #FD3F61;
    text-decoration: none;
    padding-left: 0px;
    padding-top: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    align-items: center;

      @include max-s(576px) {
        padding-top: 0px;
      }

    &:hover {
      text-decoration: underline;
    }

    &::before {
      content:' ';
      display:block;
      background: url('../images/icon-basket.svg') center top no-repeat;
      width: 20px;
      height: 20px; 
      margin-right: 5px;
    } 

    span {
      @include max-s(576px)  {
        display: none;
      }
    }
  }
}

.OrderAudio {
  $this: &;

  &__item {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;

    @include max-s(576px)  {
      flex-wrap: wrap;
    }
  }

  &__track {
     flex: 0 0 50%;

    @include max-s(576px)  {
      flex: 0 0 100%;
    }

    audio {
      width: 100%;
    }

  }

  &__nametrack {
    flex:1 1 auto;
    @include font400(14px,18px);
    color: #000;
    text-align: left;
    margin: 0 15px;

    @include max-s(576px)  {
      flex: 0 0 60%;
      margin: 0 15px 0 0;
    }

  }

  @at-root
  a#{$this}__download {
    flex: 0 0 65px;
    @include font700(14px,40px);
    color: #000;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}

.News {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 -15px 100px;

  @include max-s(991px){
      width: 100%;
      margin: 0 0px 100px;
    }
 
}

.NewsItem {
  width: 47%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 15px 20px;

    @include max-s(1024px){
      width: 45%;
    }

    @include max-s(991px){
      width: 100%;
      margin: 0 0px 20px;
    }
    @include max-s(400px){
      margin: 0 0px 30px;
    }

  &__img {
    flex: 0 0 167px;
    margin-right: 20px;

    @include max-s(992px)  {
      flex: 0 0 120px;
    }

    @include max-s(576px)  {
      flex: 0 0 100px;
    }
    @include max-s(400px)  {
      flex: 0 0 100%;
      text-align: center;
      margin: 0px auto 10px;
    }

    img {
      @include max-s(400px)  {
        width: 100px;
      }
    }
  }

  &__info {
    flex: 1 1;

    @include max-s(400px)  {
      flex: 1 1 100%;

    }
  }

  &__title {
    @include font700(16px,22px);
    color: #000;
    margin-bottom: 10px;
  }

  &__anons {
    @include font400(14px,20px);
    color: #000;
    margin-bottom: 15px;
  }

  &__link {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; 
  }

  &__date {
    @include font400(12px,18px);
    color: rgba(0, 0, 0, 0.50);
  }
}
.More-news {
  padding-top: 40px;
  width: 100%;
  display: flex;
  justify-content: center;
}


.NewsArticle {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

}

.NewsPost {
  flex: 1 1;
  margin-right: 20px;
  margin-bottom: 100px;

    @include max-s(768px){
      flex: 0 1 100%;
      margin-bottom: 30px;
    }

  .HD-page {
    margin-bottom: 30px;
  }

  &__img {
    margin-bottom: 40px;

    @include max-s(768px){
      margin-bottom: 20px; 
    }
  }

  ul {
    list-style: disc;
    margin-bottom: 20px;
    margin-left: 25px;

    li {
      @include font400(16px,27px);
      color: #000;
    }
  }


}

.NewsSidebar {
  flex: 0 1 360px;

    @include max-s(992px){
      flex: 0 1 300px;
    }
    @include max-s(768px){
      flex: 0 1 100%;
    }

  .LastNews_hd {
    margin-bottom: 30px;
    line-height: 43px;
  }

  &__wrap {
    
  }
  .LastNews__item {
    width: 100%;
    margin-left: 0;
  }
}

.indent {
  padding: 20px 15px;
  box-shadow: 0px 14px 80px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  margin-bottom: 20px;
  position: relative;

  &__left {
    position: absolute;
    width: 11px;
    background: linear-gradient(93.7deg, #66A882 -10.98%, #488774 108.23%);
    border-radius: 5px;
    top: 10px;
    bottom: 15px;
    left: 10px;
  }


  p {
    @include font700(14px,19px);
    color: var(--green-text-color);
    padding-left: 25px;

    &:last-child {
      padding-bottom: 0;
    }
  }
}

.Сontent {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 100px;

  @include max-s(992px){
    margin-bottom: 50px;
  }
}

.СontentPage {
  flex: 1 1;
  padding: 50px;
  background: radial-gradient(26.25% 99.93% at 61.22% 52.91%, #FFFFFF 0%, #FFFFFF 100%);
  box-shadow: 0px 14px 80px rgba(0, 0, 0, 0.1);
  border-radius: 5px;

  @include max-s(992px){
    padding: 20px;
  }

  ul {
    list-style: disc;
    margin-bottom: 20px;
    margin-left: 25px;

    li {
      @include font400(16px,27px);
      color: #000;
    }
  }

}

.ContentSidebar {
  flex: 0 0 275px;
  margin-right: 20px;

  @include max-s(992px){
    flex: 0 0 240px;
  }
  @include max-s(768px){
    flex: 0 0 100%;
    margin-bottom: 20px;
  }
}

.ContentMenu {

  ul {
    list-style: none;
    margin-left: 0;
    li {
      padding-bottom: 5px;
      a {
        @include font400(16px,18px);
        color: var(--green-text-color);
        position: relative;
        padding-right: 20px;
        text-decoration: none;

        &:after {
          content: '→';
          display: block;
          position: absolute;
          top: 0;
          right: 0;
        }

        &.active, &:hover {
          @include font700(16px,18px);
          color: var(--green-text-color);
        }

      }
    }
  }
}


.Faq {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 100px;

  @include max-s(768px){
    margin-bottom: 40px; 
  }
}

.FaqSidebar {
  flex: 0 0 275px;
  margin-right: 20px;

  @include max-s(992px){
    flex: 0 0 240px;
  }
  @include max-s(768px){
    flex: 0 0 100%;
    margin-bottom: 20px;
  }
}

.FaqMenu {

  ul {
    list-style: none;
    margin-left: 0;
    li {
      padding-bottom: 5px;
      a {
        @include font400(16px,18px);
        color: var(--green-text-color);
        position: relative;
        padding-right: 20px;
        text-decoration: none;

        &:after {
          content: '→';
          display: block;
          position: absolute;
          top: 0;
          right: 0;
        }

        &.active, &:hover {
          @include font700(16px,18px);
          color: var(--green-text-color);
        }

      }
    }
  }
}

.FaqCont {
  flex: 1 1;

  .HD2 {
    text-align: left;
    padding-left: 40px;
    @include font700(24px,28px);
    color: var(--green-text-color);
  }
  .bg-title {
    padding: 0 0 25px 40px;
  }
  .bg-title span {
    padding: 21px 0;
  }
  .bg-title span::after {
    background-size:cover;
    height: 70px;
    width: 70px;
    margin-left: -28px;
  }

		&__wrap {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: start;
      margin-bottom: 20px;
    }

		&__item {
      width: 48%;
      border: 1px solid #D3D3D3;
      border-radius: 5px;
      padding: 40px;
      position: relative;
      margin-bottom: 20px;

      @include max-s(992px){
        padding: 15px;
      } 

      @include max-s(768px)  {
        width: 100%;
        
      }
    }

		&__title {
      @include font700(18px,21px);
      color: var(--green-text-color);
      padding-right: 40px;
      padding-bottom: 20px;

      @include max-s(992px){
        padding-right: 25px;
      }
    }

		&__text {
      display: none;
      @include font400(14px,18px);
      color: var(--green-text-color);
    }
}

.FaqTrigger {
  position: absolute;
  top: 40px;
  right: 40px;
  width: 20px;
  height: 20px;
  background: url('../images/arrow-down-up.svg') center top no-repeat;

    &:hover {
      cursor: pointer;
    }

    @include max-s(992px){
      top: 20px;
      right: 20px;
    } 

  // &.down {
  //   transform: rotate(0deg);
  // }
  &.up {
    transform: rotate(180deg);
  }

}



.Support {
  margin-bottom: 100px;
  @include max-s(768px){
    margin-bottom: 40px; 
  }
}

.Support__top {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;

  .HD-page {
    margin-bottom: 0;

    @include max-s(768px){
      width: 100%;
      text-align: center;
      margin-bottom: 20px; 
    }
  }

  .btn-orange {
    width: auto;
    @include max-s(768px){
      margin: 0 auto;
    }
  }
}




.SupTabs {

  &__head {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    margin-bottom: 30px;
  }

  &__tab {
    &:not(:last-child) {
      margin-right: 20px;
      @include max-s(768px){
        margin-right: 0;
      }
    }
     @include max-s(768px){
       width: 100%;
       margin-right: 0;
       margin-bottom: 10px; 
     }
  }

  &__body {}

  &__cont {
    display: none;

    &.active {
      display: block;
    }

  }
}



.Question {
  $this:&;
  padding: 40px;
  border: 1px solid #D3D3D3;
  border-radius: 5px;
  margin-bottom: 30px;

    @include max-s(768px){
      padding: 15px;
    }


  &__title {
    @include font700(22px,26px);
    color: var(--green-text-color);
    margin-bottom: 20px;

    @include max-s(768px){
      @include font700(18px,22px);
    }

    span {
      @include font400(14px, 19px);
      color: #fff;
      border-radius: 3px;
      padding: 5px 8px;
      margin-left: 10px;

        @include max-s(768px){
          display: block;
          margin-left: 0;
          margin-top: 5px;
        }

      &.label-red {
        background: linear-gradient(37.71deg, #FF6056 6.17%, #FD3F61 94.94%);
      }
      &.label-orange {
        background: linear-gradient(93.7deg, #FC9102 -10.98%, #FFA32E 108.23%);
      }
      &.label-green {
        background: linear-gradient(93.7deg, #66A882 -10.98%, #488774 108.23%);
      }
    }

    
    
  }

  &__text {
    @include font400(14px,19px);
    color: #000;
    margin-bottom: 20px;
  }

  &__bottom {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

   a#{$this}__more {
    @include font700(16px,18px);
    color: var(--green-text-color);
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  &__date {
    @include font400(14px,18px);
    color: var(--green-text-color);
  }
}





























