@charset "UTF-8";

@import "../styles/fonts.css" screen;

@import "../styles/default.css" screen;

:root {
  --green-text-color: #0F4D52;
}

.flexA {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.flexB {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.flexC {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.flexK {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: start;
}

.btn-orange,
a.btn-orange {
  width: 154px;
  height: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 2px 18px;
  background: -o-linear-gradient(356.3deg, #FC9102 -10.98%, #FFA32E 108.23%);
  background: linear-gradient(93.7deg, #FC9102 -10.98%, #FFA32E 108.23%);
  -webkit-box-shadow: 9px 8px 17px rgba(252, 144, 0, 0.45);
  box-shadow: 9px 8px 17px rgba(252, 144, 0, 0.45);
  border-radius: 5px;
  border: none;
  text-transform: uppercase;
  -webkit-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  transition: all 0.5s linear;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #fff;
  text-decoration: none;
}

.btn-orange:hover,
a.btn-orange:hover {
  background: -o-linear-gradient(356.3deg, #dd7e03 -10.98%, #d88b27 108.23%);
  background: linear-gradient(93.7deg, #dd7e03 -10.98%, #d88b27 108.23%);
  cursor: pointer;
  -webkit-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  transition: all 0.5s linear;
  -webkit-box-shadow: 9px 8px 17px rgba(235, 134, 2, 0.45);
  box-shadow: 9px 8px 17px rgba(235, 134, 2, 0.45);
}

.btn-green,
a.btn-green {
  width: 200px;
  height: 44px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 2px 18px;
  background: -o-linear-gradient(356.3deg, #66A882 -10.98%, #488774 108.23%);
  background: linear-gradient(93.7deg, #66A882 -10.98%, #488774 108.23%);
  border-radius: 5px;
  border: none;
  text-transform: uppercase;
  -webkit-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  transition: all 0.5s linear;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #fff;
  text-decoration: none;
}

.btn-green:hover,
a.btn-green:hover {
  background: -o-linear-gradient(356.3deg, #dd7e03 -10.98%, #d88b27 108.23%);
  background: linear-gradient(93.7deg, #dd7e03 -10.98%, #d88b27 108.23%);
  cursor: pointer;
  -webkit-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  transition: all 0.5s linear;
  -webkit-box-shadow: 9px 8px 17px rgba(235, 134, 2, 0.45);
  box-shadow: 9px 8px 17px rgba(235, 134, 2, 0.45);
}

.btn-mini,
a.btn-mini {
  width: 142px;
  height: 38px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 2px 18px;
  background: -o-linear-gradient(356.3deg, #9001A0 -10.98%, #CB0FE0 108.23%);
  background: linear-gradient(93.7deg, #9001A0 -10.98%, #CB0FE0 108.23%);
  -webkit-box-shadow: 0px 13px 43px rgba(144, 1, 160, 0.34);
  box-shadow: 0px 13px 43px rgba(144, 1, 160, 0.34);
  border-radius: 5px;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #fff;
  text-transform: uppercase;
  -webkit-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  transition: all 0.5s linear;
  text-decoration: none;
}

.btn-mini:hover,
a.btn-mini:hover {
  background: -o-linear-gradient(356.3deg, #6e037a -10.98%, #9b0aab 108.23%);
  background: linear-gradient(93.7deg, #6e037a -10.98%, #9b0aab 108.23%);
  cursor: pointer;
  -webkit-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  transition: all 0.5s linear;
  -webkit-box-shadow: 0px 13px 50px rgba(144, 1, 160, 0.54);
  box-shadow: 0px 13px 50px rgba(144, 1, 160, 0.54);
}

.HD1 {
  font-weight: 800;
  font-size: 48px;
  line-height: 58px;
  color: #fff;
}

.HD2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 43px;
  color: var(--green-text-color);
  text-align: center;
}

.bg-title {
  padding: 25px 0;
  position: relative;
}

.bg-title span {
  display: inline-block;
  padding: 25px 0;
  position: relative;
}

.bg-title span::after {
  content: ' ';
  display: block;
  background: url("../images/bg-title.png") center center no-repeat;
  width: 91px;
  height: 89px;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  margin-left: -35px;
}

.Wrapper-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  min-height: 100%;
}

.Main {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
}

.ContainerWrap {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.Logo a {
  display: block;
  font-weight: 800;
  font-size: 24px;
  line-height: 29px;
  color: #fff;
  text-decoration: none;
}

.Logo a:hover {
  text-decoration: none;
}

.Logo a span {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #fff;
  display: block;
}

.Top {
  position: absolute;
  width: 100%;
  left: 0;
  right: 0;
  top: 0;
  z-index: 100;
  height: 70px;
}

.Top.Bottom-bar {
  position: static;
  z-index: 9;
}

.Top.Top-bar {
  position: static;
}

.Top-bar,
.Bottom-bar {
  background: -o-linear-gradient(356.3deg, #66A882 -10.98%, #488774 108.23%);
  background: linear-gradient(93.7deg, #66A882 -10.98%, #488774 108.23%);
}

.Top__wrap {
  position: relative;
  height: 70px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.Top-menu {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  position: relative;
}

.Top-menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-left: 0;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.Top-menu ul li {
  position: relative;
  margin-bottom: 0;
}

.Top-menu ul li:not(:last-child) {
  margin-right: 4%;
}

.Top-menu ul li a,
.Top-menu ul li span {
  display: block;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #fff;
  text-decoration: none;
  padding: 10px 0;
}

.Top-menu ul li a a:hover,
.Top-menu ul li span a:hover {
  text-decoration: underline;
}

.Top-menu ul li a:hover {
  text-decoration: underline;
}

.Top-menu ul li span:hover {
  cursor: pointer;
  text-decoration: underline;
}

.Top-menu ul li.parent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.Top-menu ul li.parent a,
.Top-menu ul li.parent span {
  padding-right: 10px;
}

.Top-menu ul li.parent::after {
  content: ' ';
  display: block;
  background: url("../images/down-arrow.svg") center top no-repeat;
  width: 11px;
  height: 7px;
}

.Top-menu ul li.parent:hover ul {
  display: block;
  padding: 10px 15px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.09);
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.09);
  border-radius: 5px;
  z-index: 9;
}

.Top-menu ul li ul {
  position: absolute;
  top: 35px;
  left: 0;
  display: none;
  list-style: none;
  z-index: 9;
  width: 220px;
}

.Top-menu ul li ul li {
  border: none;
}

.Top-menu ul li ul li a {
  display: block;
  font-weight: 400;
  font-size: 14px;
  line-height: 34px;
  color: #000;
  text-decoration: none;
  text-align: left;
  padding: 0;
}

.Top-menu ul li ul li a:hover {
  text-decoration: underline;
  background: none;
}

.dropDownMenu.active {
  left: 0px;
  opacity: 1;
  -webkit-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  transition: all 0.5s linear;
}

.dropDownMenu.active .Smenu__close {
  display: block;
}

#hamburger {
  display: none;
  width: 30px;
  height: 22px;
  margin-top: 24px;
  margin-right: 25px;
  z-index: 15;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transition: all .3s linear;
  -o-transition: all .3s linear;
  transition: all .3s linear;
}

#hamburger span {
  position: relative;
  top: 8px;
  display: block;
  width: 100%;
  height: 2px;
  background-color: #fff;
  -webkit-transition: all .3s linear;
  -o-transition: all .3s linear;
  transition: all .3s linear;
}

#hamburger span:before {
  position: absolute;
  content: '';
  display: block;
  width: 100%;
  height: 2px;
  top: -7px;
  left: 0px;
  background-color: #fff;
  -webkit-transition: all .3s linear;
  -o-transition: all .3s linear;
  transition: all .3s linear;
}

#hamburger span:after {
  position: absolute;
  content: '';
  display: block;
  width: 100%;
  height: 2px;
  top: 7px;
  left: 0px;
  background-color: #fff;
  -webkit-transition: all .3s linear;
  -o-transition: all .3s linear;
  transition: all .3s linear;
}

#hamburger.active {
  top: -4px;
  -webkit-transform: translateY(-50%) rotate(-180deg);
  -ms-transform: translateY(-50%) rotate(-180deg);
  transform: translateY(-50%) rotate(-180deg);
  margin-top: 18px;
}

#hamburger.active span {
  background-color: transparent;
}

#hamburger.active span:before {
  top: 0;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#hamburger.active span:after {
  top: 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

#hamburger:hover {
  cursor: pointer;
}

.Smenu__close {
  display: none;
  background: -o-linear-gradient(356.3deg, #66A882 -10.98%, #488774 108.23%);
  background: linear-gradient(93.7deg, #66A882 -10.98%, #488774 108.23%);
  height: 60px;
  padding: 20px;
}

.Smenu__close .wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: start;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  color: #fff;
}

.Smenu__close .wrap:hover {
  cursor: pointer;
}

.Smenu__close .wrap:hover span {
  -webkit-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  transform: rotate(135deg);
}

.Smenu__close .wrap span {
  font-family: tahoma;
  font-size: 30px;
  line-height: 14px;
  text-align: center;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transition: all .1s ease-in-out;
  -o-transition: all .1s ease-in-out;
  transition: all .1s ease-in-out;
  margin-right: 10px;
}

.Top-info {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.Top-info .btn-mini {
  margin: 0 20px;
}

.Top-info.Top-info3 {
  display: block;
}

.LogOut a {
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  margin-right: 20px;
}

.LogOut a:hover {
  text-decoration: underline;
}

.Flag {
  background: #FFFFFF;
  -webkit-box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.09);
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.09);
  border-radius: 5px;
  padding: 2px 8px;
  position: relative;
  width: 80px;
}

.Flag:hover {
  cursor: pointer;
}

.Flag__select:hover span {
  font-weight: 500;
}

.Flag__select span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 10px;
  font-weight: 400;
  font-size: 14px;
  line-height: 34px;
  color: #000;
}

.Flag__select span::before {
  content: ' ';
  display: block;
  width: 20px;
  height: 20px;
}

.Flag__select .rus::before {
  background-image: url("../images/icon-flag-rus.svg");
}

.Flag__select .eng::before {
  background-image: url("../images/icon-flag-eng.svg");
}

.Flag__select .fra::before {
  background-image: url("../images/icon-flag-fra.svg");
}

.Flag__select .ger::before {
  background-image: url("../images/icon-flag-ger.svg");
}

.Flag__dropdown {
  display: none;
  border-top: 1px solid #999;
  position: absolute;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 5px 9px rgba(0, 0, 0, 0.09);
  box-shadow: 0px 5px 9px rgba(0, 0, 0, 0.09);
  border-radius: 0px 0 5px 5px;
  padding: 2px 8px;
  width: 80px;
  left: 0;
  top: 35px;
}

.Flag__dropUp {
  position: absolute;
  bottom: 88%;
  background: #FFFFFF;
  -webkit-box-shadow: 0px -11px 15px rgba(0, 0, 0, 0.09);
  box-shadow: 0px -11px 15px rgba(0, 0, 0, 0.09);
  padding: 2px 8px;
  width: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  left: 0;
  border-radius: 5px;
  border-top: unset;
}

.Flag__dropUp .Flag__select:last-child {
  border-bottom: 1px solid #999;
}

.Top-info2 {
  display: none;
}

.Top-info2 a.btn-mini {
  margin-bottom: 30px;
}

.Top-info2 .LogOut {
  margin-bottom: 30px;
}

.Top-info2 .LogOut a {
  color: #000;
  display: block;
  margin: 0 auto;
}

header {
  background: url("../images/bg-main1.jpg") center top no-repeat;
  width: 100%;
  height: 874px;
  position: relative;
}

.header__wrap {
  padding-top: 102px;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
}

.header__img {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 616px;
  flex: 0 0 616px;
  margin-left: 84px;
}

.header__text {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 360px;
  flex: 0 1 360px;
  margin-top: 86px;
  margin-left: 15px;
}

.header__text .HD1 {
  margin-bottom: 20px;
}

.header__text-desc {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #fff;
  margin-bottom: 30px;
}

.About {
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  margin: -170px auto 80px;
}

.About__item {
  position: relative;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.About__item.plashka1 {
  width: 387px;
  height: 410px;
  margin-left: -15px;
}

.About__item.plashka1::before {
  background: url("../images/plashka1.png") center top no-repeat;
  background: filter(url("../images/plashka1.png"), blur(5px));
}

.About__item.plashka2 {
  width: 389px;
  height: 447px;
  padding-bottom: 20px;
  margin: 50px -92px 0;
}

.About__item.plashka2::before {
  background: url("../images/plashka2.png") center top no-repeat;
}

.About__item.plashka2 .About__text {
  width: 250px;
  margin-right: auto;
  margin-left: auto;
}

.About__item.plashka3 {
  width: 387px;
  height: 410px;
  margin-right: -15px;
}

.About__item.plashka3::before {
  background: url("../images/plashka3.png") center top no-repeat;
}

.About__item.plashka1::before,
.About__item.plashka2::before,
.About__item.plashka3::before {
  content: ' ';
  display: block;
  position: absolute;
  opacity: 0.85;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
}

.About__img {
  text-align: center;
  position: relative;
  z-index: 2;
  margin-top: 35px;
  margin-bottom: 20px;
}

.About__title {
  position: relative;
  z-index: 2;
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  color: var(--green-text-color);
  margin-bottom: 20px;
}

.About__text {
  position: relative;
  z-index: 2;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #000;
  width: 250px;
  margin: 0 auto 20px;
}

.About a.btn-green {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 44px;
  flex: 0 0 44px;
  position: relative;
  z-index: 2;
  margin: 0 auto;
}

.Services {
  margin-bottom: 80px;
}

.Services .HD2 {
  margin-bottom: 40px;
}

.Services__wrap {
  margin: 0 -10px;
}

.Services__item {
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 0 10px 60px;
}

.Services__img {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 50px;
  flex: 0 0 50px;
  margin-right: 18px;
}

.Services__info {
  -webkit-box-flex: 1;
  -ms-flex: 1 1;
  flex: 1 1;
}

.Services__title {
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  color: var(--green-text-color);
  margin-bottom: 20px;
}

.Services__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #000;
}

#block3 {
  background: url("../images/bg2.jpg") center top no-repeat;
  height: 653px;
  margin-bottom: 60px;
}

.Price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: end;
}

.Price__wrap {
  width: 752px;
  text-align: center;
}

.Price__wrap .HD2 {
  margin-bottom: 70px;
}

.Price__item {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 362px;
  flex: 0 0 362px;
  background: rgba(255, 255, 255, 0.85);
  -webkit-box-shadow: inset -18.7px 18.7px 18.7px rgba(255, 255, 255, 0.1);
  box-shadow: inset -18.7px 18.7px 18.7px rgba(255, 255, 255, 0.1);
  border-radius: 5px;
  padding: 68px 43px 43px;
  border: 1px solid #ebebeb;
  position: relative;
}

.Price__top {
  background: -o-linear-gradient(356.3deg, #FCB602 -10.98%, #FF8A00 108.23%);
  background: linear-gradient(93.7deg, #FCB602 -10.98%, #FF8A00 108.23%);
  border-radius: 0px 0px 15px 15px;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #fff;
  padding: 15px 10px;
  width: 140px;
  position: absolute;
  top: -1px;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.Price__title {
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: var(--green-text-color);
  text-transform: uppercase;
  margin-bottom: 20px;
}

.Price__cost {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  margin-bottom: 80px;
}

.Price__cost-valuta {
  font-weight: 800;
  font-size: 36px;
  line-height: 43px;
  color: var(--green-text-color);
}

.Price__cost-doll {
  font-weight: 800;
  font-size: 96px;
  line-height: 69px;
  color: var(--green-text-color);
}

.Price__cost-cent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: start;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  font-weight: 800;
  font-size: 24px;
  line-height: 28px;
  color: var(--green-text-color);
}

.Price__text {
  margin-bottom: 35px;
}

.Price__text ul {
  list-style: disc;
  text-align: left;
}

.Price__text ul li {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #000;
}

.Price__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.Reviews {
  background: url("../images/bg3.png") left 60px no-repeat;
  padding-bottom: 50px;
}

.Reviews .bg-title span::after {
  left: 50%;
}

.Reviews__item {
  background: #FFFFFF;
  -webkit-box-shadow: 0px 4px 13px rgba(0, 0, 0, 0.07);
  box-shadow: 0px 4px 13px rgba(0, 0, 0, 0.07);
  border-radius: 5px;
  padding: 35px 60px 40px;
  position: relative;
  margin: 13px;
}

.Reviews__item .quote {
  background: url("../images/img-quit.png") center top no-repeat;
  width: 46px;
  height: 31px;
  position: absolute;
  top: -15px;
  right: 10%;
}

.Reviews__item-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 20px;
}

.Reviews__img {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 150px;
  flex: 0 0 150px;
  position: relative;
  margin-right: 20px;
}

.Reviews__img img {
  width: 150px;
  position: absolute;
  top: -55px;
  left: 0;
  border-radius: 50%;
}

.Reviews__info {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}

.Reviews__title {
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  color: var(--green-text-color);
  margin-bottom: 20px;
}

.Reviews__status {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: var(--green-text-color);
}

.Reviews__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #000;
}

#block5 {
  background: url("../images/bg-main2.jpg") center top no-repeat;
  height: 555px;
  margin-top: -160px;
  margin-bottom: 44px;
}

.AboutReg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 160px;
}

.AboutReg__title {
  width: 30%;
}

.AboutReg__title .hd {
  font-weight: 700;
  font-size: 36px;
  line-height: 43px;
  color: #fff;
  margin-bottom: 40px;
}

.AboutReg__title .btn-orange {
  margin: 0 auto;
}

.AboutReg__info {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.AboutReg__item {
  width: 45%;
  margin-bottom: 60px;
}

.AboutReg__item div {
  font-weight: 800;
  font-size: 64px;
  line-height: 77px;
  color: #fff;
}

.AboutReg__item span {
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: #fff;
}

.News {
  padding-bottom: 50px;
}

.News_hd {
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  color: var(--green-text-color);
  margin-bottom: 40px;
}

.News__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 0 -10px;
}

.News__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 31%;
  margin: 0 10px 30px;
}

.News__img {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 82px;
  flex: 0 0 82px;
  margin-right: 20px;
}

.News__info {
  -webkit-box-flex: 1;
  -ms-flex: 1 1;
  flex: 1 1;
}

.News__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #000;
  margin-bottom: 20px;
}

.News__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.News__date {
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.5);
}

.more,
a.more {
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  color: var(--green-text-color);
  padding-right: 20px;
  position: relative;
  text-decoration: none;
}

.more:hover,
a.more:hover {
  text-decoration: underline;
}

.more::after,
a.more::after {
  content: '→';
  display: block;
  position: absolute;
  top: 0;
  right: 0;
}

.Foot__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 50px 15px;
}

.Foot__socnet img {
  margin: 0 2px;
}

.Foot__support {
  width: 520px;
  border: 1px solid #EFEFEF;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 15px;
}

.Foot__support .Phone {
  width: 50%;
}

.Foot__support .Phone a {
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: #000;
  text-decoration: none;
}

.Foot__support .Phone a:hover {
  text-decoration: underline;
}

.Foot__support .Suports {
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.Foot__support .Suports img {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 40px;
  flex: 0 0 40px;
  height: 40px;
  margin-right: 20px;
}

.Foot__support .Suports .text {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #000;
}

.Breadcrambs {
  padding-top: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: start;
  margin-bottom: 20px;
}

.Breadcrambs a {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #000;
  padding-right: 20px;
  margin-right: 10px;
  text-decoration: none;
  position: relative;
}

.Breadcrambs a:hover {
  text-decoration: underline;
}

.Breadcrambs a::after {
  content: '→';
  display: block;
  position: absolute;
  top: 0;
  right: 0;
}

.Breadcrambs span {
  color: #C7C7C7;
}

.MTranslate__wrap {
  padding: 70px 115px;
}

.MTranslate__fields {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.MTranslate__fields-item {
  width: 346px;
}

.MTranslate__fields-hd {
  font-weight: 700;
  font-size: 22px;
  line-height: 26px;
  color: var(--green-text-color);
}

.MTranslate__fields-row {
  background: url("../images/arrow.svg") center top no-repeat;
  width: 30px;
  height: 30px;
  margin: 0 20px;
}

.Field-select select {
  background: #FFFFFF;
  border: 1px solid #0F4D52;
  border-radius: 5px;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #131313;
  padding-left: 20px;
}

/*# sourceMappingURL=layout.css.map */

@media only screen and (max-width: 1140px) {
  .header__img {
    margin-left: 0px;
  }
}

@media only screen and (max-width: 1024px) {
  .About {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .About__item {
    margin-bottom: 20px;
    padding-bottom: 20px;
  }

  .About__item.plashka1 {
    height: 393px;
    margin-left: 0px;
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
  }

  .About__item.plashka2 {
    margin: 0 0 20px;
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
  }

  .About__item.plashka3 {
    height: 393px;
    margin-right: 0px;
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
  }

  .About__img {
    margin-top: 20px;
  }
}

@media only screen and (max-width: 992px) {
  .Top-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: end;
  }

  .Top-menu ul {
    display: block;
    padding: 0 20px;
  }

  .Top-menu ul li a,
  .Top-menu ul li span {
    color: var(--green-text-color);
  }

  .Top-menu ul li.parent {
    display: block;
  }

  .Top-menu ul li.parent:hover ul {
    display: none;
    padding: 0px 20px;
    -webkit-box-shadow: none;
    box-shadow: none;
  }

  .Top-menu ul li ul {
    position: static;
    width: auto;
  }

  .dropDownMenu {
    position: fixed;
    top: 0;
    left: -100%;
    height: 100%;
    background: #fff;
    -webkit-box-shadow: 0 3px 7px #cec7c7;
    box-shadow: 0 3px 7px #cec7c7;
    z-index: 100;
    -webkit-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    transition: all 0.5s linear;
    width: 250px;
    z-index: 10;
    opacity: 0;
  }

  #hamburger {
    display: block;
  }

  header {
    height: auto;
  }

  .header__img {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 60%;
    flex: 1 1 60%;
  }

  .header__img img {
    position: absolute;
    bottom: 0;
    left: 0px;
    width: 53%;
  }

  .header__text {
    padding-bottom: 110px;
  }

  .About {
    margin: -80px auto 80px;
  }

  .Price__item {
    padding: 68px 20px 20px;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 48%;
    flex: 0 0 48%;
  }

  .Reviews {
    background: url("../images/bg3.png") left 97px no-repeat;
  }

  .Reviews__item {
    padding: 10px 20px 20px;
  }

  .Reviews__img {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100px;
    flex: 0 0 100px;
  }

  .Reviews__img img {
    top: -20px;
  }

  .Reviews__title {
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
  }

  .News__item {
    width: 45%;
  }

  .Foot__wrap {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .Foot__socnet {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
    margin: 0 10px 20px;
  }

  .Foot__support {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
  }

  .Foot__pay {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
    margin: 0 10px 20px;
  }

  .Top-menu-foot {
    display: none;
  }
}

@media only screen and (max-width: 768px) {
  .HD1 {
    font-weight: 800;
    font-size: 40px;
    line-height: 50px;
  }

  .HD2 {
    font-size: 25px;
    line-height: 30px;
  }

  header {
    background: url("../images/bg-main1.jpg") -604px -76px no-repeat;
    width: 100%;
  }

  .header__wrap {
    padding-top: 0px;
  }

  .header__img {
    display: none;
  }

  .header__text {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 100%;
    flex: 0 1 100%;
  }

  .Services__item {
    width: 45%;
  }

  #block3 {
    background: none;
    height: auto;
  }

  .Price {
    background: url("../images/bg-price.jpg") center 0px no-repeat;
    padding-bottom: 75px;
  }

  .Price__in {
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
  }

  .Price__item {
    padding: 68px 10px 20px;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 47%;
    flex: 0 0 47%;
  }

  .Price__title {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
  }

  .Price__cost {
    margin-bottom: 20px;
  }

  .Reviews__item {
    margin: 13px 0;
  }

  #block5 {
    height: auto;
    background-size: cover;
    padding-bottom: 50px;
  }

  .AboutReg__title {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
  }

  .AboutReg__title .hd {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
  }

  .AboutReg__info {
    width: 100%;
  }

  .AboutReg__item {
    width: 48%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
    margin-bottom: 20px;
  }

  .AboutReg__item div {
    font-weight: 800;
    font-size: 55px;
    line-height: 60px;
  }

  .AboutReg__item span {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
  }

  .News__wrap {
    margin: 0px;
  }

  .News__item {
    width: 100%;
    margin: 0 0px 30px;
  }
}

@media only screen and (max-width: 650px) {
  .Top-info {
    display: none;
  }

  .Top-info2 {
    display: block;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    border-top: 1px solid #999;
    padding: 20px 30px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
}

@media only screen and (max-width: 600px) {
  .Foot__support {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .Foot__support .Phone {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
  }

  .Foot__support .Suports {
    width: 100%;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 0 auto;
  }
}

@media only screen and (max-width: 576px) {
  .Services__wrap {
    width: 100%;
    margin: 0;
  }

  .Services__item {
    width: 100%;
    margin: 0 0px 20px;
  }

  .AboutReg__item div {
    font-weight: 800;
    font-size: 45px;
    line-height: 55px;
  }
}

@media only screen and (max-width: 440px) {
  .About__item.plashka1 {
    width: 100%;
    height: auto;
  }

  .About__item.plashka1::before {
    background: #eeeeee;
    border-radius: 10px;
  }

  .About__item.plashka2 {
    width: 100%;
    height: auto;
  }

  .About__item.plashka2::before {
    background: #eeeeee;
    border-radius: 10px;
  }

  .About__item.plashka2 .About__text {
    width: 90%;
  }

  .About__item.plashka3 {
    width: 100%;
    height: auto;
  }

  .About__item.plashka3::before {
    background: #eeeeee;
    border-radius: 10px;
  }

  .About__text {
    width: 90%;
  }

  #block3 {
    margin-bottom: 0px;
  }

  .Price__in {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .Price__item {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 100%;
    flex: 1 1 100%;
    margin-bottom: 20px;
  }
}

@media only screen and (max-width: 380px) {
  .Reviews__item-top {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .Reviews__img {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    text-align: center;
    margin-right: 0;
  }

  .Reviews__img img {
    position: static;
    width: 100px !important;
    margin: 0 auto;
  }
}